$color-body-100: #f4f4f4;
$color-body-200: #e0e0e0;
$color-body-300: #c6c6c6;
$color-body-400: #a8a8a8;
$color-body-500: #8d8d8d;
$color-body-600: #6f6f6f;
$color-body-700: #525252;
$color-body-800: #4d4d4d;
$color-body-900: #161616;

$color-black: #000000;
$color-white: #ffffff;

$color-cta: #3CB371;
